.contato-bg {
  background: var(--cor-fundo-sobre);
}

.contato-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.contato-container > h1 {
  text-align: center;
  margin-bottom: 80px;
}

.grid-contato {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  justify-items: center;
  gap: 20px;
}

.grid-contato ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.grid-contato ul li {
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(240, 240, 240, 1);
  padding: 10px;
  align-items: center;
  border-radius: 15px;
  max-width: 420px;
  height: 70px;
}

.grid-contato ul li img {
  max-width: 50px;
  margin-right: 10px;
}

.grid-contato ul li p {
  margin-left: 50px;
}

.grid-contato form {
  display: grid;
  background: rgba(240, 240, 240, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 400px;
  padding: 20px;
}

.grid-contato form input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.grid-contato form textarea {
  width: 100%;
  resize: none;
  height: 200px;
  padding: 5px;
  border-radius: 5px;
}

.grid-contato form button {
  background: rgba(66, 141, 240, 1);
  border: none;
  border-radius: 20px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  height: 30px;
}

.grid-contato form button:hover {
  background-color: #fff;
  color: rgba(66, 141, 240, 1);
}

.modal-contact {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--cor-p2);
  margin: 15% auto;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-modal {
  display: flex;
  justify-content: space-between;
}

.fechar {
  font-size: 28px;
  cursor: pointer;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--cor-p1);
  border-radius: 8px;
  margin-top: 20px;
  transition: 0.3s;
}

.btn-link:hover {
  background: var(--cor-p2);
}

@media (max-width: 930px) {
  .grid-contato {
    grid-template-columns: 1fr;
  }
  form {
    grid-row: 1;
  }
}

@media (max-width: 600px) {
  .grid-contato form {
    width: 300px;
    gap: 10px;
  }
  .grid-contato ul li {
    flex-wrap: wrap;
  }
  .grid-contato ul li img {
    max-width: 30px;
  }
  .grid-contato ul li h2 {
    font-size: 18px;
  }
  .grid-contato ul li p {
    font-size: 16px;
    margin-left: 5px;
  }
  .contato-container {
    padding-top: 50px;
  }
  .contato-container > h1 {
    margin-bottom: 50px;
  }
}
