main {
  background: var(--cor-p1);
  min-height: 91.3vh;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 80px;
  padding-top: 100px;
}

.image-main {
  justify-self: start;
}

.esquerda-main {
  justify-self: end;
}

.esquerda-main h1 {
  font-size: 42px;
  padding: 0px 20px;
  width: 320px;
}

.botoes-main {
  display: grid;
  gap: 20px;
  margin-top: 20px;
}

.botoes-main a {
  display: flex;
  width: 100%;
  justify-content: center;
}

.title-main::before {
  content: "Victor Hugo";
  font-size: 48px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: escreve 8s linear infinite;
}

@keyframes escreve {
  10%,
  70% {
    content: "Victor Hug";
  }
  20%,
  60% {
    content: "Victor Hu";
  }
  30%,
  50% {
    content: "Victor H";
  }
  40% {
    content: "Victor ";
  }
}

@media (max-width: 700px) {
  .main-content {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 20px;
    padding-top: 20px;
  }
  .image-main {
    justify-self: center;
    grid-row: 1;
  }

  .esquerda-main {
    justify-self: center;
    width: 220px;
  }
  .esquerda-main h1 {
    font-size: 22px;
    width: max-content;
  }
  .title-main::before {
    font-size: 32px;
  }
}
