@import"./global/global.css";
@import"./global/cores.css";
@import"./paginaUnica/header.css";
@import"./paginaUnica/main.css";
@import"./paginaUnica/sobre.css";
@import"./paginaUnica/habilidades.css";
@import"./paginaUnica/contato.css";
@import"./paginaUnica/projetos.css";