* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body{background: var(--cor-p1);}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  padding: 10px;
  background: var(--cor-p2);
  border-radius: 30px;
  color: var(--cor-2);
  font-weight: 600;
  font-size: 18px;
  transition: 0.3s;
  width: max-content;
}

.btn:hover {
  background: var(--cor-2);
  color: var(--cor-p1);
}


@media (max-width: 600px) {
  .btn{
    padding: 5px;
    font-size: 16px;
  }
}


